.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
}

zxing-scanner {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1;
  border: 2px solid #444;
  border-radius: 8px;
}
select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}
/* Barra superior */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 56px;
}

.app-title {
  font-weight: 600;
  margin-left: 8px;
}

.version {
  font-size: 0.8rem;
  opacity: 0.8;
  margin-right: 8px;
}

.spacer {
  flex: 1 1 auto;
}

/* Contenedor principal centrado */
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 56px); /* Resta el alto de la toolbar */
  padding-top: 56px; /* Evita que quede debajo del navbar */
  background-color: #000000;
}