.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
}

zxing-scanner {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1;
  border: 2px solid #444;
  border-radius: 8px;
}