<p>0.0.1</p>
<div class="qr-container">
    <button matFab aria-label="Example icon button with a heart icon" *ngIf="isreading ===false" (click)="read()">
        <mat-icon>camera</mat-icon>
    </button>
  <zxing-scanner *ngIf="isreading"
    [device]="currentDevice"
    (scanSuccess)="onCodeResult($event)">
  </zxing-scanner>

  <select (change)="onDeviceSelectChange($event)">
    <option *ngFor="let device of availableDevices" [value]="device.deviceId">
      {{ device.label || 'Cámara ' + device.deviceId }}
    </option>
  </select>

  <p *ngIf="qrResult">📦 Código detectado: {{ qrResult }}</p>
</div>
